@{
    ViewData["Title"] = "CustomerSubscription";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<style>
    .cardProceed {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: auto;
    }

    .row {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<div class="pcoded-content">
    <div class="page-header-breadcrumb" style="margin-left: 10px;">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!"><i class="feather icon-home"></i></a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">Report</a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">Remaining Days</a>
            </li>
        </ul>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row m-t-10 m-l-0 " style="border:1px solid black; background-color:white; border-radius:12px; padding:10px;">

                        <!-- Products Dropdown -->
                        <div class=" col-sm-6 col-md-4" style="padding-right: 5px;">
                            <label>Remaining Days</label>
                            <select class="Products form-control">
                                <option class="default" value="0">----Expired----</option>
                            </select>
                        </div>

                        <!-- Show Button -->
                        <div class=" col-sm-6 col-md-2" style="padding-left: 5px;">
                            <label>&nbsp;</label>
                            <button class="btn btn-insoft btn-sm" type="button" id="showButton">
                                <i class="feather icon-search"></i> Show
                            </button>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group  btn-sm pull-right" style="float:right; padding:10px!important;">
                                <div class="input-group">
                                    <input type="text" class="hideme search form-control border-2" placeholder="Search for..." aria-label="Search">
                                    <div class="input-group-append">
                                        <span class="btn m-2 p-2 input-group-text" id="search-addon">
                                            <i class="feather icon-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="containerr" style="max-width: 120em;">
                    <div class="button-container" style="margin-bottom: 10px;">
                        <button onclick="exportToCSV()" class="btn rounded btn-sm btn-primary">
                            <i class="feather icon-file-text"></i> CSV
                        </button>
                        <button onclick="copyTable()" class="btn rounded btn-sm btn-warning">
                            <i class="feather icon-copy"></i> Copy
                        </button>
                        <button onclick="exportToExcel()" class="btn rounded btn-sm btn-success">
                            <i class="fa fa-regular fa-file-excel"></i> Excel
                        </button>
                        <button onclick="exportToPDF()" class="btn rounded btn-sm btn-danger">
                            <i class="feather icon-file"></i> PDF
                        </button>
                        <button onclick="printTable()" class="btn rounded btn-sm btn-info">
                            <i class="feather icon-printer"></i> Print
                        </button>
                    </div>

                    <div class="TableDiv table-responsive" style="width: 100%; overflow-x: scroll; overflow-y: scroll; height: 60dvh; position: relative;">
                        <table id="agentTable" class=" agentTable table-fixed table DGV table-striped table-bordered table-hover tblclear" style="width: 100%; border-collapse: separate; padding: 0px;">
                            <thead>
                                <tr style="background-color: #0b3b56; color: white;">
                                    <th class="center">S.N</th>
                                    <th class="center hideme">Customer Name</th>
                                    <th class="center">Initial</th>
                                    <th class="center">Product</th>
                                    <th class="center"> Upcoming Due Date</th>
                                    <th class="center">Last Renewal Date</th>
                                    <th class="center">Remaining Days</th>
                                    <th class="center">SMS</th>
                                </tr>
                            </thead>

                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        getPlans();
    });

    $(".Products").on("change", function () {
        $("#showButton").trigger('click');
    });

    $("#showButton").on("click", function () {
        getTableData();
    });

    function getPlans() {
        var a = AjaxCallWithoutDataNoAsync("/Subscription/getSubscription");
        var ab = JSON.parse(a);
        var jsonD = JSON.parse(ab);
        
        var ProductsD = "";
        if (jsonD.length > 0) {
            for (var a = 0; a < jsonD.length; a++) {
                ProductsD += `<option value="${jsonD[a]['NoOfMonth']}">${jsonD[a]['NoOfMonth']} Days</option>`;
            }
            $(".Products").not(".default").append(ProductsD);
        } else {
            toastr.error("No Plans have been added!!!");
        }
    }

    async function getTableData() {
        var parm = {
            RemainingDays: parseInt($(".Products :selected").val())
        };
        var a = await AjaxCall("/SubscriptionReport/getSubscriptionReportAdmin", parm);
        var ab = JSON.parse(a);
        var jsondata = JSON.parse(ab);
        var tableDOM = "";

        if (jsondata.length > 0) {
            for (var i = 0; i < jsondata.length; i++) {
                tableDOM += `<tr data-id="${jsondata[i]['ukid']}" >
                                    <td class="center"><b>${i + 1}.</b></td>
                                    <td class="center custCode">${jsondata[i]['CustomerName']}</td>
                                    <td class="center custName">${jsondata[i]['Initial']}</td>
                                    <td class="center custName">${jsondata[i]['ProductName']}</td>
                                    <td class="center prodName" style="background-color:#ffc8dd;">${jsondata[i]['ExpiryDate']}</td>
                                    <td class="center prodName">${jsondata[i]['LastRenewDate']}</td>
                                    <td class="center prodName">${jsondata[i]['RemainingDays']}</td>
                                   <td class="center">
                                        <button class="btn btn-success btn-sm sendSMS" data-Phone="${jsondata[i]['Contact']}" data-remDays="${jsondata[i]['RemainingDays']}" data-product="${jsondata[i]['ProductName']}">SMS</button>
                                    </td>
                                </tr>`;
            }
            $("#agentTable tbody").empty().append(tableDOM);
        } else {


            $("#agentTable tbody").empty().append(`
                    <tr class="center">
                        <td colspan="8">
                            <img src="/files/assets/images/nodataFound.jpg" alt="No data found" style="max-width: 100%; height: auto;">
                                <p style="color:red; font-size:22px;"><b>No Companies found that are to be expired in selected daterange.</b></p>
                        </td>
                    </tr>
                `);
        }
    }



        $(document).on("click", ".sendSMS", async function () {
        var phoneNumber = $(this).attr("data-Phone");
        var remDays = $(this).attr("data-remDays"); 
        var Product=$(this).attr("data-product")
       
        Swal.fire({
            title: 'Are you sure?',
            text: `You are about to send a reminder SMS to the customer that their plan will expire in ${remDays} days.`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, send SMS!',
            cancelButtonText: 'No, cancel',
        }).then(async (result) => {
            if (result.isConfirmed) {
                
                var parm = {
                    SMS_Message: `Your subscription of ${Product} is set to expire in ${remDays} days. Thank you for choosing Insoft R & D.`,
                    MobileNo: phoneNumber
                };

                
                var successmsg = await AjaxCall("/Dashboard/SendSMS", parm);

                Swal.fire('Sent!', 'The SMS has been sent successfully.', 'success');

            } else {
                Swal.fire('Cancelled', 'The SMS was not sent.', 'info');
            }
        });
    });


   

    $(".search").off("keyup").on("keyup", function () {
        var $rows = $('.table tbody tr');
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        $rows.show().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });

</script>
