@{
    ViewData["Title"] = "IndexforDashboard";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row d-flex">
                        <!-- Total Organizations -->
                        <a href="/Customer" style="text-decoration:none;" class="col-xl-3 col-md-6 mb-4">
                            <div class="card bg-c-yellow update-card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-white noofOrg"></h4>
                                            <h6 class="text-white m-b-0">Total Organizations</h6>
                                        </div>
                                        <div class="col-4 text-end">
                                            <i class="feather icon-briefcase f-50 text-c-white"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <!-- Total Agents -->
                        <a href="/Agent" style="text-decoration:none;" class="col-xl-3 col-md-6 mb-4 disableLinksForAgent hideforagent">
                            <div class="card bg-c-green update-card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-white noofAgents"></h4>
                                            <h6 class="text-white m-b-0">Total Agents</h6>
                                        </div>
                                        <div class="col-4 text-end">
                                            <i class="feather icon-user f-50 text-c-white"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <!-- Total Products -->
                        <a href="/Products" style="text-decoration:none;" class="col-xl-3 col-md-6 mb-4 disableLinksForAgent">
                            <div class="card bg-c-pink update-card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-white noofProducts"></h4>
                                            <h6 class="text-white m-b-0">Total Products</h6>
                                        </div>
                                        <div class="col-4 text-end">
                                           @*  <canvas id="update-chart-3" height="50"></canvas> *@
                                            <i class="feather icon-shopping-cart f-50 text-c-white"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <!-- Total Users -->
                        <a href="/Dashboard/Index" style="text-decoration:none;" class="col-xl-3 col-md-6 mb-4 disableLinksForAgent hideforagent">
                            <div class="card bg-c-lite-green update-card">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="text-white noofUsers"></h4>
                                            <h6 class="text-white m-b-0">Total Users</h6>
                                        </div>
                                        <div class="col-4 text-end">
                                            <i class="feather icon-user f-50 text-c-white"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--Recent Transactions-->
                    <div class="row " >
                        <div class="col-xl-6 col-md-12 todaytrans">
                            <div class="card table-card">
                                <div class="card-header">
                                    <h5>Today's' Transactions</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="feather icon-maximize full-card"></i></li>
                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                            <li><i class="feather icon-trash-2 close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover RecentTransactions table-borderless">
                                            <thead>
                                                <tr>
                                                   <th class="center">S.N.</th>
                                                   <th class="center">Organization</th>
                                                   <th class="center">Product</th>
                                                   <th class="center">Initial</th>
                                                   <th class="center">Plan</th>
                                                   <th class="center">Next Due Date</th>
                                                   <th class="center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            <a href="/Subscription/CustomerandSubscription" class="b-b-primary text-primary">
                                                View all Transactions
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  

                    <!-- Pending Verifications Section -->
              
                        <div class="col-xl-6 col-md-12 hideforagent">
                            <div class="card table-card">
                                <div class="card-header">
                                    <h5>Pending Verifications</h5>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="feather icon-maximize full-card"></i></li>
                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                            <li><i class="feather icon-trash-2 close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover unverifiedOrg table-borderless">
                                            <thead>
                                                <tr>
                                                    <th class="center">S.N.</th>
                                                    <th class="center">Organization</th>
                                                    <th class="center">Initial</th>
                                                    <th class="center">Email</th>
                                                    <th class="center">Contact</th>
                                                    <th class="center">Product</th>
                                                    <th class="center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <canvas id="app-sale1" height="50" width="100"></canvas>
                                                    </td>
                                                    <td></td>
                                                    <td class="text-c-blue"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            <a href="/Dashboard/Index" class="b-b-primary text-primary">
                                                View all requests
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--To be expired section-->
                        <div class="row">
                        <div class="col-xl-12 col-md-12" style="overflow-y:scroll;  height:60vh;">
                            <div class="card table-card">
                                <div class="card-header">
                                    <h5>To Be Expired</h5>

                                    <div class=" col-sm-6 col-md-4" style="padding-right: 5px;">
                                        <label>Remaining Days</label>
                                        <select class="Products form-control">
                                            <option class="default" value="0">----Expired----</option>
                                        </select>
                                    </div>

                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="feather icon-maximize full-card"></i></li>
                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                            <li><i class="feather icon-trash-2 close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table id="agentTable" class="table table-hover table-borderless">
                                            <thead>
                                                <tr>
                                                    <th class="center" >S.N.</th>
                                                    <th class="center">Organization</th>
                                                    <th class="center">Product</th>
                                                    <th class="center">Contact</th>
                                                    <th class="center">Email</th>
                                                    <th class="center">Days To Expire</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td>16,300</td>
                                                    <td>
                                                        <canvas id="app-sale1" height="50" width="100"></canvas>
                                                    </td>
                                                    <td>$53</td>
                                                    <td class="text-c-blue">$15,652</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                       @*  <div class="text-center">
                                            <a href="/Dashboard/Index" class="b-b-primary text-primary">
                                                View all requests
                                            </a>
                                        </div> *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           @*  <div id="styleSelector"></div> *@
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
      if ('@ViewBag.Role.ToString()' === "Agent") {
        $(".hideforagent").hide();
        $(".todaytrans").removeClass("col-xl-6 col-md-12 ");
        $(".todaytrans").addClass("col-xl-12 col-md-12 ");
        $(".disableLinksForAgent")
                .attr("href", "javascript:void(0);") 
                .css({
                    "pointer-events": "none", 
                    "opacity": "0.6"        
                });
    }

        getOrganizations();
        getAgents();
        getProducts();
        getUsers();
        getUnverifierdOrganizations();
        getPlans();
         $(".Products").val(3);
        getRemainingSubscriptions();
       getRecentTransactions();
    });
  
    $(".Products").on("change", function () {
      getRemainingSubscriptions();
    });

    function getRecentTransactions(){
         var a = AjaxCallWithoutDataNoAsync("/SubscriptionReport/getRecentTransactions");
        var ab = JSON.parse(a);
        var jsonD = JSON.parse(ab);

        var RecentDOM="";
        if(jsonD.length>0){
            for(var i=0;i<jsonD.length;i++){
                  RecentDOM+=`<tr>
                                 <td class="center"><b>`+(i+1)+`.</b></td>
                                <td class="center">`+jsonD[i]["Orgname"]+`</td>
                                <td class="center">`+jsonD[i]["Product"]+`</td>
                                <td class="center">`+jsonD[i]["Initial"]+`</td>
                                <td class="center">`+jsonD[i]["PlanName"]+`</td>
                                <td class="center">`+jsonD[i]["ExpireDate"]+`</td>
                                </tr>`;
            }
            $(".RecentTransactions").find("tbody").empty().append(RecentDOM);
        }

    }

     function getPlans() {
        var a = AjaxCallWithoutDataNoAsync("/Subscription/getSubscription");
        var ab = JSON.parse(a);
        var jsonD = JSON.parse(ab);

        var ProductsD = "";
        if (jsonD.length > 0) {
            for (var a = 0; a < jsonD.length; a++) {
                ProductsD += `<option value="${jsonD[a]['NoOfMonth']}">${jsonD[a]['NoOfMonth']} Days</option>`;
            }
            $(".Products").not(".default").append(ProductsD);
        } else {
            toastr.error("No Plans have been added!!!");
        }
    }

      async function getRemainingSubscriptions() {
          
        var parm = {
            RemainingDays: parseInt($(".Products :selected").val())
        };
        var a = await AjaxCall("/SubscriptionReport/getSubscriptionReportAdmin", parm);
        var ab = JSON.parse(a);
        var jsondata = JSON.parse(ab);
        var tableDOM = "";
        
        if (jsondata.length > 0) {
            for (var i = 0; i < jsondata.length; i++) {
                tableDOM += `<tr data-id="${jsondata[i]['ukid']}" >
                                    <td class="center"><b>${i + 1}.</b></td>
                                    <td class="center custCode name">${jsondata[i]['CustomerName']}</td>
                                    <td class="center custName pname">${jsondata[i]['ProductName']}</td>
                                     <td class="center">${jsondata[i]['Contact']}</td>
                                    <td class="center email">${jsondata[i]['EmailAddress']}</td>
                                    <td class="center prodName rdays">${jsondata[i]['RemainingDays']}</td>
                                   <td class="center">
                                        <button class="btn btn-success btn-sm sendSMS" data-Phone="${jsondata[i]['Contact']}" data-remDays="${jsondata[i]['RemainingDays']}" data-product="${jsondata[i]['ProductName']}">SMS</button>
                                        <button class="btn btn-danger btn-sm sendEmail"  data-remDays="${jsondata[i]['RemainingDays']}" data-product="${jsondata[i]['ProductName']}">Email</button>
                                    
                                        </td>
                                </tr>`;
            }
            $("#agentTable tbody").empty().append(tableDOM);
        } else {


            $("#agentTable tbody").empty().append(`
                    <tr class="center">
                        <td colspan="8">
                            <img src="/files/assets/images/nodataFound.jpg" alt="No data found" style="max-width: 100%; height: auto;">
                                <p style="color:red; font-size:22px;"><b>No data found.</b></p>
                        </td>
                    </tr>
                `);
        }
    }



    async function getUsers(){

          const data = await AjaxCallWithoutData("/Dashboard/GetUsers");
    const result = JSON.parse(JSON.parse(JSON.parse(data)));
        $(".noofUsers").text(result.length);
    }
     async function getProducts(){
         var a = await AjaxCallWithoutDataNoAsync("/Products/getProducts");
        var jsondata = JSON.parse(JSON.parse(a));
        $(".noofProducts").text(jsondata.length);
    }

    async function getOrganizations(){
    var a = AjaxCallWithoutDataNoAsync("/Customer/getCustomers");
        var ab = JSON.parse(a);
        var jSondata=JSON.parse(ab);
        $(".noofOrg").text(jSondata.length);
    }

    async function getAgents(){
    var a = AjaxCallWithoutDataNoAsync("/Agent/getAgents");
    var ab = JSON.parse(a);
    var data=JSON.parse(ab)
        $(".noofAgents").text(data.length);
    }


     async function getUnverifierdOrganizations(){
         var a = await AjaxCallWithoutDataNoAsync("/Dashboard/GetUnverifiedOrganizations");
        var jsondata = JSON.parse(JSON.parse(a));
    
        if(jsondata.length>0){
            var dom=``;
            for(var i=0;i<jsondata.length;i++){
                dom+=`<tr>
                <td class="center"><b>`+(i+1)+`.</b></td>
                        <td class="center">`+jsondata[i]["CompanyName"]+`</td>
                        <td class="center">`+jsondata[i]["Initial"]+`</td>
                        <td class="center">`+jsondata[i]["OrganizationMail"]+`</td>
                        <td class="center">`+jsondata[i]["ContactMobile"]+`</td>
                        <td class="center">`+jsondata[i]["ProductName"]+`</td>
                        <td class="center"><button class="btn view-btn btn-primary" data-id="`+jsondata[i]["Id"]+`" data-email="`+jsondata[i]["Email"]+`">View</button></td>
                      </tr>`;
            }
            $(".unverifiedOrg tbody").empty().append(dom);

        }else{
        $(".unverifiedOrg tbody").empty().append(`<tr><td colspan="5" rowspan="5" class="center">No Pending Verifications.</td></tr>`);

        }

    }
        $(document).on('click', '.view-btn', function () {
        const id = $(this).data('id');
        window.location.href = `/Dashboard/Index?id=${id}`;
    });
        
    
    $(document).on("click", ".sendSMS", async function () {
            var phoneNumber = $(this).attr("data-Phone");
            var remDays = $(this).attr("data-remDays");
            var Product=$(this).attr("data-product")

            Swal.fire({
                title: 'Are you sure?',
                text: `You are about to send a reminder SMS to the customer that their plan will expire in ${remDays} days.`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, send SMS!',
                cancelButtonText: 'No, cancel',
            }).then(async (result) => {
                if (result.isConfirmed) {

                    var parm = {
                        SMS_Message: `Your subscription of ${Product} is set to expire in ${remDays} days. Thank you for choosing Insoft R & D.`,
                        MobileNo: phoneNumber
                    };


                    var successmsg = await AjaxCall("/Dashboard/SendSMS", parm);

                    Swal.fire('Sent!', 'The SMS has been sent successfully.', 'success');

                } else {
                    Swal.fire('Cancelled', 'The SMS was not sent.', 'info');
                }
            });
        });



 $(document).on('click', '.sendEmail', async function () {
            var Customer = $(this).parents("tr").find(".name").text();
            var Product = $(this).parents("tr").find(".pname").text();
            var rdays = $(this).parents("tr").find(".rdays").text();

            Swal.fire({
                title: 'Are you sure?',
                text: `You are about to send a reminder email to the customer that their plan will expire in ${rdays} days.`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, send Email!',
                cancelButtonText: 'No, cancel',
            }).then(async (result) => {
                if (result.isConfirmed) {

                    const codeBody = `Dear ${Customer}, your subscription of ${Product} is about to expire in ${rdays} Days. Please recharge in time to have uninterrupted service. Thank you for choosing Insoft R&D.`;
                    const toUser = {
                        ReceiverEmail: $(this).parents("tr").find(".email").text(),
                        Subject: "About to expire Subscription",
                        EmailBody: codeBody,
                    };

                    var successEmail = await AjaxCall("/Dashboard/SendEmail", toUser);
                    var res = JSON.parse(successEmail);
                    var jj=JSON.parse(res);
                    var jsonData = JSON.parse(jj);

                    if (jsonData.Status == "Success") {
                        Swal.fire('Sent!', 'The SMS has been sent successfully.', 'success');
                    } else {
                        toastr.error("Error sending the email to the Customer.");
                        Swal.fire('Cancelled', 'The email was not sent.', 'info');
                    }
                } else {
                    Swal.fire('Cancelled', 'The SMS was not sent.', 'info');
                }
            });
        });


</script>

