@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="pcoded-content">
    <div class="page-header-breadcrumb" style="margin-left: 10px;">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">
                    <i class="feather icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">Products</a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">Products List</a>
            </li>
        </ul>
    </div>
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="accordion" id="productAccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0 d-flex justify-content-between">
                                    <button class="btn btn-primary" id="addProduct" type="button" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-decoration: none;">
                                        <h5 style="color:white;">  Add New Product &nbsp; <i class="feather icon-plus"></i></h5>
                                    </button>
                                    <button class="btn btn-primary toggleCollapse" type="button" aria-expanded="false" aria-controls="collapseOne" style="text-decoration: none;">
                                        <i class="feather icon-chevron-up"></i>
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#productAccordion">
                                <div class="card-body">
                                    <form>
                                        <div class="form-group" hidden>
                                            <label for="productId">Product ID (Optional):</label>
                                            <input type="number" class="form-control border border-dark rounded" id="productId" />
                                        </div>
                                        <div class="form-group">
                                            <label for="productName">Product Name:</label>
                                            <input type="text" class="form-control border border-dark rounded" id="productName" placeholder="Enter Product Name" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="productDescription">Description:</label>
                                            <input type="text" class="form-control border border-dark rounded" id="productDescription" placeholder="Enter Description" required />
                                        </div>

                                        <div class="form-group">
                                            <label for="siteURL">site Url:</label>
                                            <input type="text" class="form-control border border-dark rounded" id="siteURL" placeholder="siteURL" required />
                                        </div>

                                        <div class="form-group">
                                            <label for="productVersion">Version:</label>
                                            <input type="text" class="form-control border border-dark rounded" id="productVersion" placeholder="Enter Version" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="StatusOfProduct">Type:</label>
                                            <select class="TypeOfProduct form-control">
                                                <option class="Online form-control" value="1">Online</option>
                                                <option class="Desktop form-control" value="2">Desktop</option>

                                            </select>
                                        </div>
                                        <br />
                                        <button type="button" class="btn btn-success BtnInsert" id="BtnInsert">Insert &nbsp; <i class="feather icon-plus"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix well">
                        <div class="products row d-flex justify-content-start">
                            <!-- Product cards will be injected here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #5cb85c; color: white;">
                    <h3 class="modal-title" id="exampleModalLabel">Edit Product</h3>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close" style="margin-left: auto;">
                        <i class="feather icon-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="id" />
                    <div class="form-group">
                        <label for="editProductName">Product Name:</label>
                        <input type="text" class="form-control name" id="editProductName" placeholder="Product Name" required />
                    </div>
                    <div class="form-group">
                        <label for="editProductDescription">Product Description:</label>
                        <input type="text" class="form-control description" id="editProductDescription" placeholder="Description" required />
                    </div>

                    <div class="form-group">
                        <label for="editProductDescription">Site Name </label>
                        <input type="text" class="form-control siteUrl" id="editsiteUrl" placeholder="Site URL" required />
                    </div>

                    <div class="form-group">
                        <label for="editProductVersion">Product Version:</label>
                        <input type="text" class="form-control version" id="editProductVersion" placeholder="Version" required />
                    </div>

                    <div class="form-group">
                        <label for="StatusOfProduct">Type:</label>
                        <select class="TypeOfProduct form-control">
                            <option class="Online form-control" value="1">Online</option>
                            <option class="Desktop form-control" value="2">Desktop</option>

                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="margin: 10px;">Close</button>
                    <button type="button" class="btn btn-success BtnInsertM">Update &nbsp;<i class="feather icon-save"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#productAccordion').on('show.bs.collapse', function () {
            $("#toggleIcon").removeClass("feather icon-plus").addClass("feather icon-minus");
        });

        $('#productAccordion').on('hide.bs.collapse', function () {
            $("#toggleIcon").removeClass("feather icon-minus").addClass("feather icon-plus");
        });

        getTableData();

        $(document).on("click", ".btn-edit", function () {
            const productId = $(this).data('id');
            editProduct(productId);
        });
    });

    function resetForm() {
        $("#productId").val("");
        $("#productName").val("");
        $("#productDescription").val("");
        $("#siteURL").val("");
        $("#productVersion").val("");
        $(".toggleCollapse").trigger('click');
        getTableData();
    }

    $("#addProduct").on("click", function () {
        $("#collapseOne").collapse('show');
    });

    $(".toggleCollapse").on("click", function () {
        $("#collapseOne").collapse('hide');
    });

    async function getTableData() {
        var a = await AjaxCallWithoutDataNoAsync("/Products/getProducts");
        var jsondata = JSON.parse(JSON.parse(a));

        var cardDOM = "";
        if (jsondata.length > 0) {
            for (var i = 0; i < jsondata.length; i++) {
                cardDOM += `
                       <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex">
                    <div class="card shadow-sm w-100" style="border-radius: 10px; overflow: hidden;">
                        <!-- Card Header -->
                        <div class="card-header text-white text-center" style="background-color: #0b3b56;">
                            <h5 class="text-uppercase mb-0" style="font-size: 18px; color:white;">${jsondata[i]["Name"]}</h5>
                            </br>
                            Type:<h5 class="text-uppercase mb-0" style="font-size: 18px; color:white;">${jsondata[i]["Type"]}</h5>
                        </div>

                        <!-- Card Body -->
                        <div class="card-body bg-light d-flex flex-column" style="padding: 15px;">
                            <p class="mb-2"><strong>Site URL:</strong> <span class="text-success">${jsondata[i]["SiteName"]}</span></p>
                            <p class="mb-2 text-muted">${jsondata[i]["Description"]}</p>
                            <p class="mb-1"><strong>GUID:</strong> <span class="text-break">${jsondata[i]["ProductGUID"]}</span></p>
                            <p class="mb-0"><strong>Version:</strong> ${jsondata[i]["Version"]}</p>
                        </div>

                        <!-- Card Footer -->
                        <div class="card-footer bg-white d-flex justify-content-between align-items-center">
                            <button class="btn btn-sm btn-primary d-flex align-items-center btn-edit" data-id="${jsondata[i]["Id"]}">
                                <i class="feather icon-edit me-1"></i> Edit
                            </button>
                            <button class="btn btn-sm btn-danger d-flex align-items-center" onclick="deleteProduct(${jsondata[i]["Id"]})">
                                <i class="feather icon-trash me-1"></i> Delete
                            </button>
                        </div>
                    </div>
                </div>`;
            }
            $(".products").empty().append(cardDOM);
        } else {
            $(".products").empty().append('<p>No products found.</p>');
        }
    }

    $(".BtnInsert").on("click", async function () {
        if ($("#productName").val() === "" || $("#productDescription").val() === "" || $("#productVersion").val() === ""|| $("#siteURL").val()==="" ) {
            toastr.error("Please fill in all the fields!!!.");
        } else {
           var Type="";
            if($(".TypeOfProduct").val()==1){
                 Type="Online";
            }else if($(".TypeOfProduct").val()==2){
                  Type="Desktop";
            }
            var parm = {
                Id: $(".id").val() ? parseInt($(".id").val()) : 0,
                Name: $("#productName").val(),
                Description: $("#productDescription").val(),
                Version: $("#productVersion").val(),
                siteURL:$("#siteURL").val(),
                Type:Type
            };
         
            var data = await AjaxCall("/Products/InsertUpdate", parm);
            var jsondataresponse = JSON.parse(data);

            if (jsondataresponse == 1) {
                toastr.success("Product inserted successfully!");
                resetForm();
            } else {
                toastr.error("Failed to insert product.");
            }
        }
    });

    async function editProduct(id) {
        var parm = { Id: id };
        var productData = await AjaxCall("/Products/getProduct", parm);
        var product = JSON.parse(JSON.parse(productData));
      
        if (product.length > 0) {
            $("#editProductModal .id").val(product[0]["Id"]);
            $("#editProductModal #editProductName").val(product[0]["Name"]);
            $("#editProductModal .description").val(product[0]["Description"]);
            $("#editProductModal .siteUrl").val(product[0]["siteURL"]);
            $("#editProductModal .version").val(product[0]["Version"]);
            var Type=product[0]["Type"];
            if(Type=="Desktop"){
                $("#editProductModal .TypeOfProduct").val(2);
            }else if(Type=="Online"){
                $("#editProductModal .TypeOfProduct").val(1);
            }

            $("#editProductModal").modal('show');
        } else {
            alert("No product found for the selected item.");
        }
    }

    $("#editProductModal .BtnInsertM").on("click", async function () {
         var Type="";
            if($("#editProductModal .TypeOfProduct").val()==1){
                 Type="Online";
            }else if($("#editProductModal .TypeOfProduct").val()==2){
                  Type="Desktop";
            }

        var parm = {
            Id: parseInt($("#editProductModal .id").val()),
            Name: $("#editProductModal #editProductName").val(),
            Description: $("#editProductModal .description").val(),
            Version: $("#editProductModal .version").val(),
              siteURL: $("#editProductModal .siteUrl").val() ,
              Type:Type//   $("#siteURL").val()
        };

        var productData = await AjaxCall("/Products/InsertUpdate", parm);
        var jsondataresponse = JSON.parse(productData);

        if (jsondataresponse == 1) {
            toastr.success("Product edited successfully!");
            getTableData();
            $("#editProductModal").modal('hide');
        } else {
            toastr.error("Failed to update product.");
        }
    });

    async function deleteProduct(id) {
        const result = await Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        });

        if (result.isConfirmed) {
            var parm = { Id: id };
            await AjaxCall("/Products/DeleteProduct", parm);
            getTableData();
            Swal.fire(
                'Deleted!',
                'Your product has been deleted.',
                'success'
            );
        }
    }
</script>
