@{
    ViewData["Title"] = "CustomerSubscription";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<style>
    .cardProceed {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: auto;
    }

    .row {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    .TableDiv thead th {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #0b3b56;
        color: white;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<div class="pcoded-content">
    <div class="page-header-breadcrumb" style="margin-left: 10px;">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!"><i class="feather icon-home"></i></a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">Agent Report</a>
            </li>
        </ul>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row m-t-10 m-l-0 " style="border:1px solid black; background-color:white; border-radius:12px; padding:10px;">
                        <div class=" col-sm-6 col-md-4" style="padding-right: 5px;">
                            <label> Agent Name</label>
                            <select class="Agents form-control">
                            </select>
                        </div>


                        <div class=" col-sm-6 col-md-4" style="padding-right: 5px;">
                            <label> Product name</label>
                            <select class="Products form-control">
                                <option class="default" value="-1">----All----</option>
                            </select>
                        </div>


                        <!-- Show Button -->
                        <div class=" col-sm-6 col-md-2" style="padding-left: 5px;">
                            <label>&nbsp;</label>
                            <button class="btn btn-insoft btn-sm" type="button" id="showButton">
                                <i class="feather icon-search"></i> Show
                            </button>
                        </div>

                    </div>

                </div>


                <div class="containerr" >
                    <div class="button-container" style="margin-bottom: 10px;">
                        <button onclick="exportToCSV()" class="btn rounded btn-sm btn-primary">
                            <i class="feather icon-file-text"></i> CSV
                        </button>
                        <button onclick="copyTable()" class="btn rounded btn-sm btn-warning">
                            <i class="feather icon-copy"></i> Copy
                        </button>
                        <button onclick="exportToExcel()" class="btn rounded btn-sm btn-success">
                            <i class="fa fa-regular fa-file-excel"></i> Excel
                        </button>
                        <button onclick="exportToPDF()" class="btn rounded btn-sm btn-danger">
                            <i class="feather icon-file"></i> PDF
                        </button>
                        <button onclick="printTable()" class="btn rounded btn-sm btn-info">
                            <i class="feather icon-printer"></i> Print
                        </button>
                    </div>

                    <div class="TableDiv table-responsive" style="width: 100%; overflow-x: scroll; overflow-y: scroll; height: 60dvh; position: relative;">
                        <table id="agentTable" class="agentTable table-fixed table DGV table-striped table-bordered table-hover tblclear" style="width: 100%; border-collapse: separate; padding: 0px;">
                            <thead>
                                <tr style="background-color: #0b3b56; color: white;">
                                    <th class="center">S.N</th>
                                    <th class="center hideme">Customer Name</th>
                                    <th class="center">Initial</th>
                                    <th class="center">Product</th>
                                    <th class="center">Last Renewal Date</th>
                                    <th class="center">Expiry Date</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        GetAgents();
        getProducts()

    });
    $(".Products,.Agents").on("change", function () {

        $("#showButton").trigger("click");


    })

    function getProducts() {
        var paa = AjaxCallWithoutDataNoAsync("/Products/getProducts");
        var aaha = JSON.parse(paa);
        var jsonD = JSON.parse(aaha);

        var ProductsD = "";
        if (jsonD.length > 0) {
            for (var a = 0; a < jsonD.length; a++) {
                ProductsD += `<option value="${jsonD[a]['Id']}">${jsonD[a]['Name']} (V .${jsonD[a]['Version']})</option>`;
            }
            $(".Products").not(".default").append(ProductsD);
        } else {
            toastr.error("No Products have been added!!!");
        }
    }

    function GetAgents() {
        var a = AjaxCallWithoutDataNoAsync("/Agent/getAgents");
        var ab = JSON.parse(a);
        var jsondata = JSON.parse(ab);

        var AgentDom = "";
        if (jsondata.length > 0) {
            for (var i = 0; i < jsondata.length; i++) {
                AgentDom += `<option value  = ` + jsondata[i]["Id"] + `>` + jsondata[i]["Name"] + ` </option>`
            }
            $(".Agents").append(AgentDom);
        }
    }

    $("#showButton").on("click", async function () {
        debugger;
        var param = {
            ProductId: parseInt($(".Products option:selected").val()),
            AgentId: parseInt($(".Agents option:selected").val())
        }
        var req = await AjaxCall("/AgentReport/GetAgentReport", param);
        var res = JSON.parse(JSON.parse(req));

        var domtble = ""
        if (res.length > 0) {
            for (var i = 0; i < res.length; i++) {
                domtble += `<tr>
                    <td>`+ (i + 1) + `</td>
                            <td>`+ res[i]["CustomerName"] + `</td>
                            <td>`+ res[i]["Initial"] + `</td>
                            <td>`+ res[i]["ProductName"] + `</td>
                            <td>`+ res[i]["LastRenewDate"] + `</td>
                            <td>`+ res[i]["ExpiryDate"] + `</td>
                    </tr>`
            }
            $("#agentTable tbody").empty().append(domtble);

        }
        else {
            $("#agentTable tbody").empty().append(`<tr><td colspan="6" style="color:red">There is no any customer For this agent </td><tr>`);

        }

    })
</script>
