@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .nameDiv, .PriceDiv {
        display: flex;
        align-items: center;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<div class="pcoded-content">
    <div class="page-header-breadcrumb" style="margin-left: 10px;">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">
                    <i class="feather icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">Sub-Products</a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">Modules List</a>
            </li>
        </ul>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    

                    <div class="clearfix well">
                        <div class="accordion" id="productAccordion">
                            <div class="card">
                                <div class="card-header" id="headingOne" >
                                    <h5 class="mb-0 d-flex justify-content-between">
                                        <button class="btn btn-xs btn-primary" id="addProduct" type="button" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="border-radius: 12px;">
                                            <h5 class="addEdit"><span style="color:white;font-size:18px; vertical-align:middle;"><i class="feather icon-plus"></i> Add Module</span></h5>
                                        </button>
                                        <button class="btn btn-primary toggleCollapse" type="button" aria-expanded="false" aria-controls="collapseOne" style="border-radius: 12px;">
                                            <i class="feather icon-chevron-up" id="toggleArrow"></i>
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#productAccordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group" hidden>
                                                <label for="productId">Sub-Product ID (Optional):</label>
                                                <input type="number" class="form-control" id="productId" />
                                            </div>
                                            <div class="form-group" hidden>
                                                <label for="mainproductId">Product Id:</label>
                                                <input type="number" class="form-control" id="mainproductId" />
                                            </div>
                                            <div class="form-group">
                                                <label for="productName">Product Name:</label>
                                                <input type="text" class="form-control border border-dark rounded" id="productName" disabled />
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label for="name">Name:</label>
                                                    <input type="text" class="form-control border border-dark rounded" id="name" placeholder="Enter Name" required />
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="desc">Description:</label>
                                                    <input type="text" class="form-control border border-dark rounded" id="desc" placeholder="Enter the Description" required />
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="price">Price:</label>
                                                    <input type="text" class="form-control border border-dark rounded" id="price" placeholder="Enter the Price for the module" required />
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-success" id="BtnInsert">
                                                <i class="feather icon-save"></i> Save
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="products row">
                            <!-- Product cards will be injected here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    $(document).ready(function () {
        getTableData();
    });

    function resetForm() {
        $("#productId").val("");
        $("#mainproductId").val("");
        $("#name").val("");
        $("#desc").val("");
        $("#price").val("");
        $(".toggleCollapse").trigger('click');
        getTableData();
    }

    $("#addProduct").on("click", function () {
        $("#collapseOne").collapse('show');
    });

    $(".toggleCollapse").on("click", function () {
        $("#collapseOne").collapse('hide');
        resetForm();
    });

    async function getTableData() {
        var a = await AjaxCallWithoutDataNoAsync("/Products/getProducts");
        var jsondata = JSON.parse(JSON.parse(a));
        var cardDOM = "";

        if (jsondata.length > 0) {
            for (var i = 0; i < jsondata.length; i++) {
                const productId = jsondata[i]["Id"];
                var productsInAccordion = "";

                var parm = { Id: productId };
                var ss = await AjaxCall("/SubProducts/getProducts", parm);
                var subproducts = JSON.parse(JSON.parse(ss));

                var filteredSubproducts = subproducts.filter(sp => sp["ProductId"] === productId);

                if (filteredSubproducts.length > 0) {
                    for (var j = 0; j < filteredSubproducts.length; j++) {
                        productsInAccordion += `
                                <div class="panel panel-default" style="margin:10px;">
                                        <div class="panel-heading" style="border-radius:12px; background-color:#0b3b56; vertical-align:middle;">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle d-flex justify-content-between" data-toggle="collapse" data-parent="#accordion${productId}" href="#collapse${productId}${j}" style="border-radius:8px; width:100%; background:#0b3b56; color:white;">
                                                <div class="nameDiv" style="vertical-align:middle;">${filteredSubproducts[j]["Name"]}</div>
                                                <div class="PriceDiv">Rs. ${filteredSubproducts[j]["Price"]}</div>
                                                <button data-productid="${filteredSubproducts[j]["ProductId"]}" class="btn btn-sm btn-primary editsubProduct" onclick="editProduct(${filteredSubproducts[j]["Id"]})">
                                                    <i class="ace-icon fa fa-edit"></i>
                                                </button>
                                                <button class="btn btn-sm btn-danger delSubProduct" onclick="deleteProduct(${filteredSubproducts[j]["Id"]})">
                                                    <i class="ace-icon fa fa-trash"></i>
                                                </button>
                                            </a>
                                        </h4>
                                    </div>
                                </div>`;
                    }
                } else {
                    productsInAccordion += '<p>No subproducts found.</p>';
                }

                cardDOM += `
                        <div class="card card1 product-card col-sm-6" data-productid="${productId}">
                            <div class="card-header card-insoft" style="background-color: #0b3b56; color: white;  ">
                                <div class="row align-items-center">
                                    <h4 class="col" style="text-transform: uppercase;font-size:16px;"><b>${jsondata[i]["Name"]}</b></h2>
                                    <button class="btn btn-primary col-auto btnAddModule" style="margin-left: auto;" data-productid="${productId}" data-productname="${jsondata[i]["Name"]}">
                                        <i class="feather icon-plus"></i> New Module
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="accordion${productId}" class="accordion-style1 panel-group">
                                    ${productsInAccordion}
                                </div>
                            </div>
                           
                        </div>`;
            }
            $(".products").empty().append(cardDOM);
        } else {
            $(".products").empty().append('<p>No products found.</p>');
        }
    }

    async function editProduct(id) {
        $("#collapseOne").collapse('show');
        var parm = { Id: id };
        var productData = await AjaxCall("/SubProducts/getProduct", parm);
        var product = JSON.parse(JSON.parse(productData));
        if (product.length > 0) {
            $("#productId").val(product[0]["Id"]);
            $("#mainproductId").val(product[0]["ProductId"]);
            $("#name").val(product[0]["Name"]);
            $("#desc").val(product[0]["Description"]);
            $("#price").val(product[0]["Price"]);
        } else {
            toastr.error("No product found for the selected item.");
        }
    }

    $(document).on("click", ".btnAddModule", async function () {
        resetForm();
        $("#collapseOne").collapse('show');
        $("#mainproductId").val($(this).attr("data-productid"));
        var parm = { Id: parseInt($(this).attr("data-productid")) };
        var productData = await AjaxCall("/Products/getProduct", parm);
        var productEach = JSON.parse(productData);
        $("#productName").val(productEach[0]["Name"]);
    });

    $(document).on("click", "#BtnInsert", async function () {
        if ($("#name").val() == "" || $("#desc").val() == "" || $("#price").val() == "") {
            toastr.error("Please fill all the details!");
        } else {
            var parm = {
                Id: $("#productId").val() ? parseInt($("#productId").val()) : 0,
                ProductId: parseInt($("#mainproductId").val()),
                Name: $("#name").val(),
                Description: $("#desc").val(),
                Price: parseFloat($("#price").val()),
            };
            var modul = await AjaxCall("/SubProducts/InsertUpdate", parm);
            var modulesResponse = JSON.parse(modul);
            if (modulesResponse == 1) {
                getTableData();
                toastr.success("Module action successfully completed!");
                $(".toggleCollapse").trigger('click');
            } else {
                toastr.error("Error while adding a Module!");
            }
        }
    });

    async function deleteProduct(id) {
        const result = await Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        });

        if (result.isConfirmed) {
            var parm = { Id: id };
            await AjaxCall("/SubProducts/DeleteProduct", parm);
            getTableData();
            Swal.fire('Deleted!', 'Your product has been deleted.', 'success');
        }
    }
</script>
