@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
  

*,
*:before,
*:after {
  box-sizing: border-box;
}
h4 {
        color: #b30514;
}
input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
  width: 100%;
  padding: 1em;
  line-height: 1;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
/*   -webkit-transition: 0.35s ease-in-out;
 */  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus {
  outline: 0;
  border-color: #bd8200;
}
input:focus + .input-icon i {
  color: #f0a500;
}
input:focus + .input-icon:after {
  border-right-color: #f0a500;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label,
select {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}
input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
input[type="radio"] + label i {
  padding-right: 0.4em;
}
input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
  background-color: #f0a500;
  color: #fff;
  border-color: #bd8200;
}
input[type="checkbox"] {
 width:20px;
 height:20px;
 accent-color: #b30514;
}

select {
  height: 3.4em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}
select option {
  background-color: #f0a500;
  color: #fff;
}
.input-group {
  margin-bottom: 1em;
  zoom: 1;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.4em;
}

.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.5em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  vertical-align:middle;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0em;
  bottom: -0.5em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
/*   -webkit-transition: 0.35s ease-in-out;
 */  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
/*   -webkit-transition: 0.35s ease-in-out;
 */  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.container {
  max-width: 100em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
        background-color: #EFE9F4;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}
.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}
@@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
  .table td{
      vertical-align:middle;
  }
}
    .input-icon{
        vertical-align:middle;
    }

    .input-group feather {
 
    font-size:2em;
}
</style>
<div class="pcoded-content">
    <div class="page-header-breadcrumb" style="margin-left: 10px;">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">
                    <i class="feather icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">Customer</a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">Customer List</a>
            </li>
        </ul>
    </div>  
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
<div class="accordion" id="productAccordion" style="margin:15px;">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0 d-flex justify-content-between">
                <button class="btn btn-primary" id="addProduct" type="button" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="border-radius:12px; text-decoration: none;">
                                        <h5 class="addEdit" style="color:white;"> Add Customer &nbsp; <i class="feather icon-plus"></i></h5>
                </button>
                <button id="toggleArrow" class="btn btn-primary toggleCollapse" type="button" aria-expanded="false" aria-controls="collapseOne" style="text-decoration: none; border-radius:12px;">
                    <i class="feather icon-chevron-up" ></i>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#productAccordion">
            <div class="card-body">
                <div class="container">
                <form>
                    <h4>Customer Details</h4>
                    <input type="text" id="id" hidden/>
                    <div class="row">
                        <div class="col-third">
                            <div class="input-group input-group-icon">
                                <input type="text" id="CustCode" placeholder="Customer Code" name="customercode" required>
                                <div class="input-icon">
                                    <i class="feather icon-hash"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-third">
                            <div class="input-group input-group-icon">
                                <input type="text" id="CustName" placeholder="Customer Name" name="customername" required>
                                <div class="input-icon">
                                    <i class="feather icon-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-third">
                            <div class="input-group input-group-icon">
                                <input type="text" id="CustAddress" placeholder="Address" name="address" required>
                                <div class="input-icon">
                                    <i class="feather icon-map-pin"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-third">
                            <div class="input-group input-group-icon">
                                <input type="text" id="panvat" placeholder="PAN/VAT No" name="panvat" required>
                                <div class="input-icon">
                                  <i class="feather icon-credit-card"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-third">
                            <div class="input-group input-group-icon">
                                <input type="text" id="Custcontact" placeholder="Contact Number" name="contact" required>
                                <div class="input-icon">
                                    <i class="feather icon-phone"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-third">
                            <div class="input-group input-group-icon">
                                <input type="text" id="Custdblink" placeholder="Database Link" name="databaselink" required>
                                <div class="input-icon">
                                    <i class="feather icon-link"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Contact Persons</h4>
                    <div class="row" style="display: flex; justify-content: space-between;">
                        <div class="col-quarter" style="max-width: 350px; flex: 1;">
                            <div class="input-group input-group-icon">
                                <input type="text" id="CP1" placeholder="Contact Person 1" name="contactperson1" required>
                                <div class="input-icon">
                                    <i class="feather icon-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-quarter" style="max-width: 350px; flex: 1;">
                            <div class="input-group input-group-icon">
                                <input type="text" id="CP1Mobno" placeholder="CP1 Mobile No" name="contactperson1mobno" required>
                                <div class="input-icon">
                                    <i class="feather icon-phone"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-quarter" style="max-width: 350px; flex: 1;">
                            <div class="input-group input-group-icon">
                                <input type="text" id="CP2" placeholder="Contact Person 2" name="contactperson2">
                                <div class="input-icon">
                                                            <i class="feather icon-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-quarter" style="max-width: 350px; flex: 1;">
                            <div class="input-group input-group-icon">
                                <input type="text" id="CP2Mobno" placeholder="CP2 Mobile No" name="contactperson2mobno">
                                <div class="input-icon">
                                                            <i class="feather icon-phone"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Additional Information</h4>
                    <div class="row">
                        <div class="col-third">
                            <div class="input-group input-group-icon">
                                <input type="email" id="email" placeholder="Email Address" name="email" required>
                                <div class="input-icon">
                                                            <i class="feather icon-mail"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-third">
                            <div class="input-group input-group-icon">
                                <input type="text" id="website" placeholder="Website" name="website">
                                <div class="input-icon">
                                                            <i class="feather icon-globe"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-third">
                            <div class="input-group input-group-icon">
                                <input type="text" id="guid" placeholder="GUID" name="GUID" required>
                                <div class="input-icon">
                                                            <i class="feather icon-pin"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-third">
                            <div class="input-group input-group-icon">
                                <input type="text" id="CompanyCode" placeholder="Company Code" name="CompanyCode">
                                <div class="input-icon">
                                                            <i class="feather icon-briefcase"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-third">
                            <div class="input-group input-group-icon">
                                <input type="text" id="BySMSApiToken" placeholder="By SMS API Token" name="BySMSApiToken" required>
                                <div class="input-icon">
                                                            <i class="feather icon-pin"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="row ">
                            <div class="col-auto" style="float:left;">
                                <button id="BtnReset" style="border-radius:12px;" class="btn btn-danger">
                                    <i class="feather icon-rotate-cw"></i> Reset
                                </button>
                            </div>
                            <div class="col-auto" style="float:right;">
                                <button id="BtnInsert" style="border-radius:12px;" class="btn btn-success">
                                 <i class="feather icon-save"></i> Save
                                </button>
                            </div>
                        </div>

                </form>
                </div>

            </div>
        </div>
    </div>
</div>


                    <div class="containerr" style="max-width:120em;">
                      <div class="button-container" style="margin-bottom: 10px;">
    <button onclick="exportToCSV()" class="rounded btn-sm btn-primary">
        <i class="feather icon-file-text"></i> CSV
    </button>
    <button onclick="copyTable()" class="rounded btn-sm btn-warning">
        <i class="feather icon-copy"></i> Copy
    </button>
    <button onclick="exportToExcel()" class="rounded btn-sm btn-success">
        <i class="feather icon-excel"></i> Excel
    </button>
    <button onclick="exportToPDF()" class="rounded btn-sm btn-danger">
        <i class="feather icon-file-pdf"></i> PDF
    </button>
    <button onclick="printTable()" class="rounded btn-sm btn-info">
        <i class="feather icon-print"></i> Print
    </button>
</div>


                        <div class="TableDiv" style="width:100%;overflow-x:scroll;overflow-y:scroll;height:70dvh;position:relative">
                            <table id="agentTable" class="agentTable table-fixed table DGV table-striped table-bordered table-hover tblclear" style="width:100%;border-collapse: separate;padding:0px;">
                                <thead>
                                    <tr style="background-color:#0b3b56; color:white;">
                                        <th class="center">S.N</th>
                                        <th class="center hideme">Edit</th>
                                        <th class="center hideme">Delete</th>
                                        <th class="center">Customer Code</th>
                                        <th class="center">Customer Name</th>
                                        <th class="center">Address</th>
                                        <th class="center">PAN/VAT Number</th>
                                        <th class="center">Contact Number</th>
                                        <th class="center">Database Link</th>
                                        <th class="center">Contact Person 1</th>
                                        <th class="center">Contact Person 1_Mobile number</th>
                                        <th class="center">Contact Person 2</th>
                                        <th class="center">Contact Person 2_Mobile number</th>
                                        <th class="center">Email Address</th>
                                        <th class="center">Website</th>
                                        <th class="center">GUID</th>
                                        <th class="center">Company Code</th>
                                        <th class="center">BySMSApiToken</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
              


                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {
        getTableData();

        // Reset button functionality
        $("#BtnReset").on("click", function () {
            resetForm();
        });

        $("#BtnInsert").on("click", async function () {
            debugger
            if ($("#CustCode").val() == "" || $("#CustName").val() == "") {
                toastr.error("Please fill in all the fields!!!");
            } else {
                debugger
                var parm = {
                    Id: $("#id").val() ? parseInt($("#id").val()) : 0,
                    CustomerCode: $("#CustCode").val(),
                    CustomerName: $("#CustName").val(),
                    Address: $("#CustAddress").val(),
                    panvatno: $("#panvat").val(),
                    Contact: $("#Custcontact").val(),
                    DataBaseLink: $("#Custdblink").val(),
                    ContactPerson1: $("#CP1").val(),
                    ContactPerson2: $("#CP2").val(),
                    ContactPerson1_MobileNo: $("#CP1Mobno").val(),
                    ContactPerson2_MobileNo: $("#CP2Mobno").val(),
                    EmailAddress: $("#email").val(),
                    Website: $("#website").val(),
                    GUID: $("#guid").val(),
                    CompanyCode: $("#CompanyCode").val(),
                    BySMSApiToken: $("#BySMSApiToken").val()
                };
                debugger
                var data = await AjaxCall("/Customer/InsertUpdateCustomer", parm);
                var jsondataresponse = JSON.parse(data);

                if (jsondataresponse == 1) {
                    resetForm();
                    getTableData();
                    toastr.success("Agent action successfull!");
                } else {
                    toastr.error("Failed to insert/update agent.");
                }
            }
        });

    });

    $("#addProduct").on("click", function () {
        $("#collapseOne").css("display", 'block');
    });
    $("#toggleArrow").on("click", function () {
        $("#collapseOne").css("display", 'none');
    });
    $(".toggleCollapse").on("click", function () {
        $("#collapseOne").addClass("collapse", true);
        resetForm();
    });

    function resetForm() {
        $("#CustCode").val("");
        $("#CustName").val("");
        $("#CustAddress").val("");
        $("#panvat").val("");
        $("#Custcontact").val("");
        $("#Custdblink").val("");
        $("#CP1").val("");
        $("#CP1Mobno").val("");
        $("#CP2").val("");
        $("#CP2Mobno").val("");
        $("#email").val("");
        $("#website").val("");
        $("#guid").val("");
        $("#CompanyCode").val("");
        $("#BySMSApiToken").val("");

         getTableData();
    }

    function getTableData() {
        var a = AjaxCallWithoutDataNoAsync("/Customer/getCustomers");
        var ab = JSON.parse(a);
        var jsondata = JSON.parse(ab);
        var tableDOM = "";
        if (jsondata.length > 0) {
            for (var i = 0; i < jsondata.length; i++) {
                tableDOM += `<tr data-id=` + jsondata[i]["Id"] + `>
                                <td class="center">` + (i + 1) + `</td>
                                <td class="center"><button class="hideme btn btn-edit btn-success"><i class="feather icon-edit"></i></button></td>
                                <td class="center"><button class="hideme btn btn-danger btn-delete"><i class="feather icon-trash"></i></button></td>

                                <td class="center custCode">` + jsondata[i]["CustomerCode"] + `</td>
                                <td class="center custName">` + jsondata[i]["CustomerName"] + `</td>
                                <td class="center custAdd">` + jsondata[i]["Address"] + `</td>
                                <td class="center custPANVAT">` + jsondata[i]["pan/vatno"] + `</td>
                                <td class="center custContact">` + jsondata[i]["Contact"] + `</td>
                                <td class="center custdblink">` + jsondata[i]["DataBaseLink"] + `</td>
                                <td class="center custCP1">` + jsondata[i]["ContactPerson1"] + `</td>
                                <td class="center custCP1m">` + jsondata[i]["ContactPerson1_MobileNo"] + `</td>
                                <td class="center custCP2">` + jsondata[i]["ContactPerson2"] + `</td>
                                <td class="center custCP2m">` + jsondata[i]["ContactPerson2_MobileNo"] + `</td>
                                <td class="center email">` + jsondata[i]["EmailAddress"] + `</td>
                                <td class="center website">` + jsondata[i]["Website"] + `</td>
                                <td class="center GUID">` + jsondata[i]["GUID"] + `</td>
                                <td class="center comcode">` + jsondata[i]["CompanyCode"] + `</td>
                                <td class="center smsapiToken">` + jsondata[i]["BySMSApiToken"] + `</td>
                            </tr>`;
            }
            $("#agentTable tbody").empty().append(tableDOM);
        } else {
            $("#agentTable tbody").empty().append('<tr><td colspan="5">No agents found.</td></tr>');
        }
    }

    $(document).on("click", ".btn-edit", async function () {
        const row = $(this).parents("tr");
        var parm={
            Id: row.data("id")
        }
        var data = await AjaxCall("/Customer/getCustomerById", parm);
        var dataawithoutParsing=JSON.parse(data);
        var ParsedData = JSON.parse(dataawithoutParsing);


        // Set the corresponding input fields with data from the row
        $("#id").val(row.data("id"));
        $("#CustCode").val(ParsedData[0]["Customercode"]);
        $("#CustName").val(ParsedData[0]["CustomerName"]);
        $("#CustAddress").val(ParsedData[0]["Address"]);
        $("#panvat").val(ParsedData[0]["pan/vatno"]);
        $("#Custcontact").val(ParsedData[0]["Contact"]);
        $("#Custdblink").val(ParsedData[0]["DataBaseLink"]);
        $("#CP1").val(ParsedData[0]["ContactPerson1"]);
        $("#CP1Mobno").val(ParsedData[0]["ContactPerson1_MobileNo"]);
        $("#CP2").val(ParsedData[0]["ContactPerson2"]);
        $("#CP2Mobno").val(ParsedData[0]["ContactPerson2_MobileNo"]);
        $("#email").val(ParsedData[0]["EmailAddress"]);
        $("#website").val(ParsedData[0]["Website"]);
        $("#guid").val(ParsedData[0]["GUID"]);
        $("#CompanyCode").val(ParsedData[0]["CompanyCode"]);
        $("#BySMSApiToken").val(ParsedData[0]["BySMSApiToken"]);

        $("#collapseOne").css("display", 'block');


    });


    $(document).on("click", ".btn-delete", async function () {
        const row = $(this).closest("tr");
        const id = row.data("id");
        await deleteProduct(id);
    });

    async function deleteProduct(id) {
        const result = await Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        });

        if (result.isConfirmed) {
            var parm = { Id: id };
            var productData = await AjaxCall("/Customer/DeleteCustomer", parm);
            var a = JSON.parse(productData);
            var jsondataresponse = JSON.parse(a);

            if (jsondataresponse == "") {
                getTableData(); // Refresh the table data
                Swal.fire('Deleted!', 'The Customer Data  has been deleted.', 'success');

            } else {
                Swal.fire('Error!', 'Failed to delete the customer data.', 'error');
            }
        }
    }

</script>
