@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>


    .nameDiv, .PriceDiv {
        display: flex;
        align-items: center;
    }

    .rejected-row {
        background-color: #f8d7da; /* Light red */
    }

    .verified-row {
        background-color: #d4edda; /* Light green */
    }

    .voucher-image-preview {
        width: 50%; 
        height: 100px; 
        object-fit: contain; 
        cursor: pointer; 
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<div class="pcoded-content">
    <div class="page-header-breadcrumb" style="margin-left: 10px;">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">
                    <i class="feather icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">Verify </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">Voucher Verification</a>
            </li>
        </ul>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body ">

                  <div class="row m-t-10 m-l-0 " style="border:1px solid black; background-color:white; border-radius:12px; padding:10px;">
                    <div class=" col-sm-6 col-md-4" style="padding-right: 5px;">
                        <label>Products</label>
                        <select class="Products form-control">
                            <option class="default" value="0">----All----</option>
                        </select>
                    </div>
                        <div class=" col-sm-6 col-md-4" style="padding-right: 5px;">
                            <label>Payment Mode</label>
                            <select class="PaymentMode form-control">
                                <option class="default" value="0">----All----</option>
                                <option class="DigitalPayment" value="1">Digital Payment</option>
                                <option class="Voucher" value="2">Voucher</option>
                              <option class="Voucher" value="3">Admin</option>
                            </select>
                        </div>
                  </div>

                    <div class="card" style="height:80vh; margin:10px;">


                        <div class="containerr" style="max-width: 120em; margin:10px;">
                            <div class="button-container" style="margin-bottom: 10px;">
                                <button onclick="exportToCSV()" class="btn rounded btn-sm btn-primary">
                                    <i class="feather icon-file-text"></i> CSV
                                </button>
                                <button onclick="copyTable()" class="btn rounded btn-sm btn-warning">
                                    <i class="feather icon-copy"></i> Copy
                                </button>
                                <button onclick="exportToExcel()" class="btn rounded btn-sm btn-success">
                                    <i class="fa fa-regular fa-file-excel"></i> Excel
                                </button>
                                <button onclick="exportToPDF()" class="btn rounded btn-sm btn-danger">
                                    <i class="feather icon-file"></i> PDF
                                </button>
                                <button onclick="printTable()" class="btn rounded btn-sm btn-info">
                                    <i class="feather icon-printer"></i> Print
                                </button>
                            </div>
                            <div class="TableDiv" style="overflow-x:scroll;overflow-y:scroll;height:70vh;position:relative; border-radius:12px;">
                            <table id="agentTable" class="agentTable table-hover table-fixed table table-striped table-bordered tblclear" style="width: 100%; border-collapse: separate; padding: 0px;">
                            <thead>
                                <tr style="background-color: #0b3b56; color: white;">
                                    <th class="center">S.No.</th>
                                    <th class="center">Customer Name</th>
                                    <th class="center">Product Name</th>
                                    <th class="center">Issued Date</th>
                                    <th class="center">Amount </th>
                                    <th class="center">Plan</th>
                                    <th class="center">Payment Mode</th>
                                    <th class="center">Voucher Image </th>
                                    <th class="center">Payment Remarks </th>
                                    <th class="center hideme">Subscription</th>
                                </tr>
                            </thead>
                       
                            <tbody>

                            </tbody>

                        </table>
                            </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>



<!-- Modal for Rejection -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <h2>Are you Sure you want to <b><span class="verifyorRejectSubs"></span></b> this ???</h2>
                    <input type="text" id="ActualExpiryDate" hidden />
                </h5>
                <button type="button" class="close btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <form>
                   <div class="form-control" >
                       <label>Remarks:</label>
@*                        <input type="text" class="remarksStatus" required />
 *@
                        <textarea id="remarksStatus" class="remarksStatus" rows="4" cols="50" placeholder="Enter your remarks here..." required></textarea>
                    </div>
               </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btnSaveStatus btn btn-primary">Yes,Proceed</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Image Preview -->
<div class="modal fade" id="imagePreviewModal" tabindex="-1" role="dialog" aria-labelledby="imagePreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imagePreviewModalLabel">Voucher Image Preview</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="voucherImagePreview" class="img-fluid" alt="Voucher Image" style="width:100%; height:100%;" />
            </div>
            <div class="modal-footer">
                <button class="btn rounded btn-sm btn-danger" id="printButton">
                    <i class="feather icon-printer"></i> Print
                </button>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {
          getProducts();
        getTableData();
    });

    $(".Products").on("change",async function () {
        await getTableData();
    });
     $(".PaymentMode").on("change",async function () {
        await getTableData();
    });
     function getProducts() {
        var paa = AjaxCallWithoutDataNoAsync("/Products/getProducts");
        var aaha = JSON.parse(paa);
        var jsonD = JSON.parse(aaha);

        var ProductsD = "";
        if (jsonD.length > 0) {
            for (var a = 0; a < jsonD.length; a++) {
                ProductsD += `<option value="${jsonD[a]['Id']}">${jsonD[a]['Name']} (V .${jsonD[a]['Version']})</option>`;
            }
            $(".Products").not(".default").append(ProductsD);
        } else {
            toastr.error("No Products have been added!!!");
        }
    }
    $(document).on('click', '#printButton', function () {
        const imageSrc = $('#voucherImagePreview').attr('src');
        // Create a new window for printing
        const printWindow = window.open('', '_blank');
        printWindow.document.open();
        printWindow.document.write(`<img src="${imageSrc}" style=" max-width: 100%; max-height: 100%;" alt="Voucher Image"> `);
        printWindow.document.close();
        printWindow.print();
    });



   async function getTableData() {
        var parm={
            Product:$(".Products").val(),
            PaymentMode:parseInt($(".PaymentMode").val())
        };
        var request =await AjaxCall("/VerifySubscriptionVoucher/getSubscriptionVoucher",parm);
        var dataa = JSON.parse(request);
        var data = JSON.parse(dataa);

        var tableDom = "";
        if (data.length>0) {
            for (var i = 0; i < data.length; i++) {
                var rejectButton = '';
                var verifyButton = '';
                var rowClass = '';

                if (data[i]["IsVerifiedPayment"] === -1) {
                    rowClass = 'rejected-row';
                    rejectButton = `<button data-expdate="`+data[i]["ActualExpiryDate"]+`" data-status="` + data[i]["IsVerifiedPayment"] + `" class="VorR btn btn-danger" data-type="reject" disabled> <i class="feather icon-x"></i>&nbsp;Rejected</button>`;
                    verifyButton = ''; // No "Verify" button for status -1
                } else if (data[i]["IsVerifiedPayment"] === 1) {
                    rowClass = 'verified-row';
                    rejectButton = ''; // No "Reject" button for status 1
                    verifyButton = `<button data-expdate="`+data[i]["ActualExpiryDate"]+`" data-status="` + data[i]["IsVerifiedPayment"] + `" class="VorR btn btn-success" data-type="verify" disabled> <i class="feather icon-check-square"></i>&nbsp;Verified</button>`;
                } else if (data[i]["IsVerifiedPayment"] === 0) {
                    rowClass = '';
                    rejectButton = `<button data-expdate="`+data[i]["ActualExpiryDate"]+`" data-status="` + data[i]["IsVerifiedPayment"] + `" class="VorR btn btn-outline-danger" data-type="reject" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="feather icon-x"></i>&nbsp;Reject</button>`;
                    verifyButton = `<button data-expdate="`+data[i]["ActualExpiryDate"]+`" data-status="` + data[i]["IsVerifiedPayment"] + `" class="VorR btn btn-outline-success" data-type="verify" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="feather icon-check-square"></i>&nbsp;Verify</button>`;
                }
                tableDom += `<tr data-ukid="` + data[i]["ukid"] + `" class="` + rowClass + `">
                        <td class="center"><b>`+(i+1)+`</b></td>
                        <td class="center">`+ data[i]["CustomerName"] + `</td>
                        <td class="center">`+ data[i]["Name"] + `</td>
                        <td class="center">`+ data[i]["IssuedDate"] + `</td>
                        <td class="center">`+ data[i]["PaidAmount"] + `</td>
                        <td class="center">`+ data[i]["SPlan"] + `</td>
                        <td class="center">`+ data[i]["PaymentMode"] + `</td>

                              <td class="center">
                                   ` + (data[i]["VoucherImagee"] ? `<img src="` + data[i]["VoucherImagee"] + `" class="voucher-image-preview" />` : '--') + `
                               </td>

                           <!-- <img src="` + data[i]["VoucherImagee"] + `" class="voucher-image-preview" /> -->
                          
                          <td class="center">`+ data[i]["PaymentRemarks"] + `</td>
                        <td class="center">
                            ` + rejectButton + `
                            ` + verifyButton + `
                        </td>
                        </tr>`;
            }
            $("#agentTable tbody").empty().append(tableDom);
        }else{
            $("#agentTable tbody").empty().append(`
                                <tr>
                                        <td colspan="9" class="center">
                                        <img src="/files/assets/images/nodataFound.jpg" alt="No data found" style="max-width: 100%; height: auto;">
                                            <p style="color:red; font-size:22px;"><b>No Customers have been registered under this Product.</b></p>
                                    </td>
                                </tr>
                            `);
        }
    }


    $(document).on("click", ".VorR", async function () {
        $("#exampleModal").find("#ActualExpiryDate").val($(this).attr("data-expdate"));
        $("#exampleModal").find(".verifyorRejectSubs").text($(this).attr("data-type"));
        $("#exampleModal").find(".btnSaveStatus").attr("data-status",$(this).attr("data-type"));
        $("#exampleModal").find(".btnSaveStatus").attr("data-ukid",$(this).parents("tr").attr("data-ukid"));
    });

    $(document).on("click", ".voucher-image-preview", function () {
      
        var imageSrc = $(this).attr("src"); 
        $("#voucherImagePreview").attr("src", imageSrc); 
        $("#imagePreviewModal").modal('show'); 
    });

    $(document).on("click", ".btnSaveStatus", async function () {
        if ($("#exampleModal").find(".remarksStatus").val() == "") {
            toastr.warning("Please fill in the Remarks before the verification process!!!");
        }
        else {
            var status = '';
            if ($(this).attr("data-status") == 'reject') {
                status = -1;
            } else {
                status = 1;
            }
            var parm = {
                ProductId: parseInt($(this).attr("data-ukid")),
                CustomerId: parseInt(status),
                Remarks: $("#exampleModal").find(".remarksStatus").val(),
                ActualExpiryDate: $("#exampleModal").find("#ActualExpiryDate").val()
            };
            var requestVerification = await AjaxCall("/CustomerPlanDetails/VerifyorRejectSubscription", parm);
            toastr.success("Operation Successful!!!");
          
            getTableData();
            $("#exampleModal").modal('hide');
            $("#exampleModal").find(".remarksStatus").val('');
        }
    });

</script>
