<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineSubscriptionFrontEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link
      rel="stylesheet"
      href="~/assets/css/style.bundle.css"
      asp-append-version="true"
    />
    <link
      href="~/assets/plugins/custom/datatables/datatables.bundle.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="~/assets/plugins/global/plugins.bundle.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="~/src/js/components/util.js"></script>
    <script src="~/src/js/components/image-input.js"></script>

    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/js/custom/apps/customers/view/add-payment.js"></script>
    <script src="~/assets/js/custom/apps/customers/view/adjust-balance.js"></script>
    <script src="~/assets/js/custom/apps/customers/view/invoices.js"></script>
    <script src="~/assets/js/custom/apps/customers/view/payment-method.js"></script>
    <script src="~/assets/js/custom/apps/customers/view/payment-table.js"></script>
    <script src="~/assets/js/custom/apps/customers/view/statement.js"></script>
    <script src="~/assets/js/custom/apps/customers/update.js"></script>
    <script src="~/assets/js/widgets.bundle.js"></script>
    <script src="~/assets/js/custom/apps/chat/chat.js"></script>
    <script src="~/assets/js/custom/utilities/modals/upgrade-plan.js"></script>
    <script src="~/assets/js/custom/utilities/modals/create-campaign.js"></script>
    <script src="~/assets/js/custom/utilities/modals/new-card.js"></script>
    <script src="~/assets/js/custom/utilities/modals/users-search.js"></script>
  </head>
  <body>
    <div class="container" id="Main">
      <main role="main" class="pb-3">@RenderBody()</main>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>

    <script
      src="~/assets/js/scripts.bundle.js"
      asp-append-version="true"
    ></script>
    <script
      src="~/assets/js/widgets.bundle.js"
      asp-append-version="true"
    ></script>

    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
