@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    .btn-edit, .btn-delete {
        border-radius: 8px;
        margin: 0 5px;
    }

    .table th, .table td {
        text-align: center;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .btn-success, .btn-danger {
        width: 100%;
    }

    .table {
        margin-top: 20px;
    }

    .fa-edit, .fa-trash, .fa-sync-alt, .fa-save {
        cursor: pointer;
        font-size: 1.5em;
    }

        .fa-edit:hover {
            color: #007bff;
        }

        .fa-trash:hover {
            color: #dc3545;
        }
    /* Custom scrollbar styles */
    .TableDiv::-webkit-scrollbar {
        width: 12px; /* Width of the scrollbar */
        background-color: #f0f0f0; /* Background color of the scrollbar track */
    }

    .TableDiv::-webkit-scrollbar-thumb {
        background-color: #b30514; /* Color of the scrollbar thumb */
        border-radius: 6px; /* Rounded corners for the thumb */
    }

        .TableDiv::-webkit-scrollbar-thumb:hover {
            background-color: #A5FFD6; /* Color of the thumb on hover */
        }

    .TableDiv::-webkit-scrollbar-track {
        background: #e0e0e0; /* Color of the track */
    }

</style>
<div class="pcoded-content">
    <div class="page-header-breadcrumb" style="margin-left: 10px;">
        <ul class="breadcrumb-title">
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">
                    <i class="feather icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item" style="float: left;">
                <a href="#!">Subscription</a>
            </li>
            
        </ul>
    </div>
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
    @* <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
        </form>
    </div> *@
</div>
<div class="page-content">
    <div class="content-body">
        <div class="clearfix well" style="display: flex;">

            <div class="col-3" style="border: 1px solid #b30514; flex: 0 0 25%; border-radius: 8px; padding: 15px;">
                <form>
                    <div class="form-group" hidden>
                        <label for="id">Agent ID (Optional):</label>
                        <input type="number" class="form-control border border-dark rounded" id="id" />
                    </div>

                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control border border-dark rounded" id="name" placeholder="Enter Name" required />
                    </div>

                    <div class="form-group">
                        <label for="noom">Number of Days in the Package:</label>
                        <input type="number" class="form-control border border-dark rounded" id="noom" placeholder="Enter Number of months" required min="0"/>
                    </div>


                    <div class="form-group">
                        <label for="noom">Is Paid Based ?:</label>
                        <input type="checkbox" id="IsPaidBased" />
                    </div>

                   <div class="form-group">
                       <label for="noom">Is Trial?:</label>
                       <input type="checkbox" id="IsTrial" />
                   </div>

                    <div class="form-group" style="display: flex;">
                                        <button type="button" class="btn btn-danger" id="BtnReset" style="border-radius:12px; margin-right: 5px;">Reset &nbsp; <i class="feather icon-rotate-cw"></i></button>
                                        <button type="button" class="btn btn-success" id="BtnInsert" style="border-radius:12px;">Save &nbsp; <i class="feather icon-save"></i></button>
                    </div>
                </form>
            </div>

            <div class="TableDiv col-8" style="overflow-x: scroll; overflow-y: scroll; height: 70dvh; position: relative; flex: 0 0 75%;">
                                <table id="agentTable" class="agentTable table-fixed table DGV table-striped table-bordered table-hover tblclear" style="border-collapse: separate;padding:0px;">
                    <thead>
                            <tr style="background-color:#0b3b56; color:white;">
                            <th class="center">S.N</th>
                            <th class="center">Name</th>
                            <th class="center">Number of Days</th>
                            <th class="center">Paid Status</th>
                            <th class="center">Trial Status</th>

                            <th class="center">Edit</th>
                            <th class="center">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</div>
</div>


<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        getTableData();

        // Reset button functionality
        $("#BtnReset").on("click", function () {
            resetForm();
        });

        // Save button functionality
        $("#BtnInsert").on("click", async function () {
            if ($("#name").val() == "" || $("#noom").val()=="") {
                toastr.error("Please fill in all the fields!!!");
            } else {
                var parm = {
                    Id: $("#id").val() ? parseInt($("#id").val()) : 0,
                    Name: $("#name").val(),
                    NoOfMonths: parseInt($("#noom").val()),
                    IsPaidBased: $("#IsPaidBased").prop("checked"),
                    IsTrial: $("#IsTrial").prop("checked")
                };

                var data = await AjaxCall("/Subscription/InsertUpdateSubscription", parm);
                var jsondataresponse = JSON.parse(data);

                if (jsondataresponse == 1) {
                    resetForm();
                    getTableData();
                    toastr.success("Subscription Action Successfull!");
                } else {
                    toastr.error("Failed to insert/update agent.");
                }
            }
        });

    });

    function resetForm() {
        $("#id").val(""); // Clear ID
        $("#name").val("");
        $("#noom").val("");
        getTableData();
    }

    function getTableData() {
        var a = AjaxCallWithoutDataNoAsync("/Subscription/getSubscription");
        var ab = JSON.parse(a);
        var jsondata = JSON.parse(ab);

        var tableDOM = "";
        if (jsondata.length > 0) {
            for (var i = 0; i < jsondata.length; i++) {
                tableDOM += `<tr data-id=` + jsondata[i]["Id"] + ` data-name=` + jsondata[i]["Name"] + ` data-noom=` + jsondata[i]["NoOfMonth"] + `>
                                      <td class="center">` + (i + 1) + `</td>
                                      <td class="center subName">` + jsondata[i]["Name"] + `</td>
                                      <td class="center subMonth">` + jsondata[i]["NoOfMonth"] + `</td>
                                      <td class="center status">` + jsondata[i]["PaidStatus"] + `</td>
                                      <td class="center trialStatus">` + jsondata[i]["TrialStatus"] + `</td>

                                      <td class="center"><button class="btn btn-success btn-edit"><i class="feather icon-edit" ></i> </button></td>
                                      <td class="center"><button class="btn btn-danger btn-delete"><i class="feather icon-trash"></i></button></td>
                                  </tr>`;
            }
            $("#agentTable tbody").empty().append(tableDOM);
        } else {
            $("#agentTable tbody").empty().append('<tr><td colspan="5">No agents found.</td></tr>');
        }
    }

    $(document).on("click", ".btn-edit", function () {
        const row = $(this).closest("tr");
        
        $("#id").val(row.data("id"));
        $("#name").val(row.data("name"));
        $("#noom").val(row.data("noom"));

      
        const status = row.find(".status").text().trim();
        if (status === 'Paid') {
            $("#IsPaidBased").prop("checked", true);
        } else {
            $("#IsPaidBased").prop("checked", false);
        }
        const trialstatus = row.find(".trialStatus").text().trim();
        if (trialstatus === 'Trial') {
            $("#IsTrial").prop("checked", true);
        } else {
            $("#IsTrial").prop("checked", false);
        }
    });



    $(document).on("click", ".btn-delete", async function () {
        const row = $(this).closest("tr");
        const id = row.data("id");
        await deleteProduct(id);
    });

    async function deleteProduct(id) {
        const result = await Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        });

        if (result.isConfirmed) {
            var parm = { Id: id };
            var productData = await AjaxCall("/Subscription/DeleteSubscription", parm);
            var a = JSON.parse(productData);
            var jsondataresponse = JSON.parse(a);

            if (jsondataresponse == "") {
                Swal.fire('Error!', 'Failed to delete the agent data.', 'error');
            } else {
                getTableData(); // Refresh the table data
                Swal.fire('Deleted!', 'The Subscription Type  has been deleted.', 'success');

            }
        }
    }

</script>
