@{ ViewData["Title"] = "Index"; }

<div  class=" py-3 py-lg-6">
  <div
   
    class=" container-xxl d-flex flex-stack"
  >
    <div
      class="page-title d-flex flex-column justify-content-center flex-wrap me-3"
    >
      <h1
        class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0"
      >
        <img
          src="https://insoftnepal.com/storage/2020/11/LogoInsoft.png"
          class="theme-light-show w-100px"
          alt=""
        />
      </h1>
    </div>
    <div class="d-flex">
      <h3 class="fs-xl fw-bold mb-4 lead">
        Already have an account?
        <a href="@Url.Action("Index", "Login")"> Sign In </a>
      </h3>
    </div>

  </div>
</div>
<div class="container w-500px p-0">
  <div class="card-body p-0">
    <div class="card-px text-center my-5">
      <div class="py-10 text-center">
        <img
          src="https://insoftnepal.com/storage/2020/11/LogoInsoft.png"
          class="theme-light-show w-150px"
          alt=""
        />
      </div>
      <h2 class="fs-2x fw-bold mb-2">Create New Account</h2>
      <p class="text-gray-400 fs-4 fw-semibold mb-5">
       Enter your Credentials to create an account.
      </p>

            <form id="registerForm" >
      <div class="input-group mb-2">
       
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          name="Name"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-2">
       
        <input
          type="text"
          class="form-control"
          placeholder="email"
          aria-label="email"
          name="Email"
          aria-describedby="email"
          disabled
        />
      </div>
      <div class="input-group mb-2">
       
        <input
          type="text"
          class="form-control"
          placeholder="Contact"
          aria-label="Contact"
          name="Contact"
          aria-describedby="contact"
        />
      </div>
      <div class="input-group mb-2">
       
        <input
          type="text"
          class="form-control"
          placeholder="Address"
          aria-label="Address"
          name="Address"
          aria-describedby="address"
        />
      </div>
      <div class="input-group mb-2">
       
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          aria-label="Password"
          name="Password"
          aria-describedby="password"
        />
      </div>
      <div class="input-group mb-2">
       
        <input
          type="password"
          class="form-control"
          placeholder="Retype Password"
          aria-label="Retype-password"
          name="ConfirmPassword"
          aria-describedby="retype-password"
        />
      </div>

        <button  type="submit" class="btn btn-primary form-control" id="registerButton">
          Add User
        </button>
      </form>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(()=>{
    LaodData(window.location.href)

  })
  async function LaodData(url) {
var url = new URL(url);
if (window.location.href.indexOf('?') > 0) {
     email = url.searchParams.get("email");
     $('input[name="Email"]').val(email);
    }else{
      window.location.href = "/";
    }
  }


  $("#registerForm").submit(function (e) {
    if($(this).find("input[name='Password']").val()!=$(this).find("input[name='ConfirmPassword']").val()){
      toastr.warning("Password doesnot match ! Please try again")
     
      return false;
    }
    e.preventDefault();
    const data = {
      Name: $(this).find("input[name='Name']").val(),
      Email: email,
      Contact: $(this).find("input[name='Contact']").val(),
      Address: $(this).find("input[name='Address']").val(),
      Password: $(this).find("input[name='Password']").val(),
    };
    debugger
    const result = AjaxCall("/Register/RegisterUser",data);
    if(result == 'Success'){
  window.location.href = "/Home/Index?msg=registerSuccess";
 }
 else{
 
  toastr.error("Invalid Credentials ! Please try again.")
  
 }
  })
</script>

